.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}
h2 {
    text-align: center;
}
.customer-details {
    margin-top: 20px;
}
.detail {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; /* Space between details */
}
.detail-label {
    font-weight: bold;
    margin-bottom: 5px;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
}

.copy-btn {
    transition: transform 0.1s ease-in-out;
    background-color: #480457E8;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    margin: 1%;
}

.copy-btn:hover {
    background-color: #480457E8;
    transition: 0.1s ease-in-out;
    transform: scale(1.1);
    opacity: 0.8;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #480457E8;
}
